/* -------------------------------------LOGIN PAGE---------------------------------------- */

.login-page {
    background-color: #E63165;
}

.login {
    width: 500px;
    background-color: white;
    margin-top: 100px;
}